# Composer
/vendor/
composer.lock

# Configuration
config/config.php

# PHPUnit
/coverage/
.phpunit.result.cache

# IDE
/.idea/
/.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
