version: '2'
services:
  shop:
    build: ./docker/php
    volumes:
      - ./:/var/www/html/
    ports:
      - "11180:80"

  shop_mysql:
    image: mysql:8.4
    environment:
        - MYSQL_ROOT_PASSWORD=root
        - MYSQL_DATABASE=shop
        - MYSQL_USER=user
        - MYSQL_PASSWORD=user
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"

volumes:
  mysql_data: